
:root {
    --primary-color: green;
}
ul {
    list-style: none;
    padding: 0;
}

ul li h2 {
    text-transform: uppercase;
}

.didve{
    content: "";
    width: 80%;
    height: 3px;
    color: red;
    border-top: 1px solid var(--primary-color);
}

.app {
    padding: 0 80px;
    display: flex;    
}
.left-app {
    background-color: rgb(231 231 231);
    width: 40%;

}
.left-app, .right-app {
    display: flex;
    flex-direction: column;
}

#header-name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#header-name h1 {
    color: var(--primary-color);
}
.avatar-container {
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--primary-color);
}

#avatar {
    height: 150%;
}


/* Right  */
.right-app {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.content {
    color: #000;
    width: 100%;
    margin-left: 60px;
}

.content-title {
    color: var(--primary-color);
}